<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration page</title>
</head>
<body>
    <fieldset>
        <legend>Registration Form</legend>
    <form action="" method="post">

        <input type="text" name="userName" placeholder="Enter your userName" >
  <br>
  <br>
  <input type="email" name="email" placeholder="email id">
  <br>
  <br>
  <input type="password" name="password" placeholder="Enter your password">
  <br>
  <br>
  <input type="submit" value="Register">
   
   
   
    </form>
</fieldset>
</body>
</html>